.confirmEmailBlock {
  text-align: center;
}

.sendEmailLottie {
  width: 500px;
  height: 500px;
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
}

.subTitle {
  font-size: 24px;
  color: rgba(20, 20, 20, 0.85);
}

.description {
  margin-top: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(63, 62, 62, 0.8);
}

.confirmBtn {
  margin-top: 28px;
}
